$navbar-default-bg: #004893;

@import "bootstrap-sprockets";
@import "bootstrap";

#logo {
  float: left;
  font-size: 1.5em;
  color: #fff;
  letter-spacing: -1px;
  font-weight: bold;
}

.center {
  text-align: center;
  font-weight: bold;
}

.jumbotron {
  background-image: asset-url('back.jpg');
  background-size: cover;
  height: auto;
  // border-style: solid;
  // border-width: 1px;
  width: 800px;
  height: auto;
  margin: auto;
}

.jumbotron h1 {
  color: black;
  text-shadow: 2px 2px #99ffff;
  text-align: center;
  margin-bottom: 30px;
  letter-spacing: -1px;
  font-family: calibri;
}

.btn-xlarge {
  font-size: 1.7em;
}

.article_meta_details {
  border-top: 1px solid #eaeaea;
  margin-top: 15px;
}

.article-actions {
  border-top: 1px solid #eaeaea;
  padding-top: 5px;
}

.description {
  margin-top: 0;
}

.article-title {
  font-weight: bold;
  font-size: 1.5em;
  
}

.article-body {
  border-top: 1px solid #eaeaea;
  padding-top: 15px;
  padding-bottom: 15px;
}

.listing {
  list-style: none;
  padding-left: 0;
}

.badge {
  background-color: #CEF6F5;
  text-transform: uppercase;
  letter-spacing: -1px;
  font-weight: bold;
}

.input_checkbox input {
  width: auto !important;
}

.footer {
  margin-top: 45px;
  padding-top: 5px;
  border-top: 1px solid #eaeaea;
  color: #777;
}

.footer a:hover {
  color: #222;
}

.footer small {
  float: left;
}

.footer ul {
  float: right;
  list-style: none;
}

.footer ul li {
  float: left;
  margin-left: 15px;

}

.col-xs-4 {
  margin-top: 20px;
}

.form-horizontal {
  width: 800px;
  height: auto;
  // border-width: 1px;
  // border-style: solid;
  margin: auto;
}
