<h1 class="center"><%= "Category: " + @category.name %></h1>

<div align="center">
  <%= will_paginate @category_articles, :next_label => ">" , :previous_label => "<" %>
</div>

<%= render 'articles/article', obj: @category_articles %>

<div align="center">
  <%= will_paginate @category_articles, :next_label => ">" , :previous_label => "<" %>
</div>